/* s */
/* root elements to make it easier to style colours */
:root {
   --dark_grey: rgb(47, 48, 48);
   --grey: rgb(70, 69, 65);
   --text_color:rgb(233, 229, 194);
}
/* wraps the page in a body elemtnt */
body{
    max-width: 100%;
    max-height: 100%;}
/* Styling for the header */
header  {
    display: flex;
    background-color: var(--dark_grey);
    color:var(--text_color);
    padding: 20px 0px;    
}
/* moves the text block down  */
header h1{
    padding-top:  25px;
}
/* Style for name content and box */
.Name {
    text-align:right;
    top: 50%;
    left: 50%;
    background-color: var(--grey);
    font-size: 150%;
    height: 75px;
    width: 400px;
    letter-spacing: 3px;
}
/* Nav elements positiong */
nav {
    width: 100%;
    padding: 50px 0px 0px 0px
}
/* Nav button styles and box layout */
 nav a{
    padding: 0px 10px;
    float:right ;
    justify-self: flex-end;
    align-content: center;
    font-size: 120%;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--text_color);
    border-bottom: 4px;
    
 }
/* Added Relative to place text over picture */
.Picture_container{
    position: relative;
}
/* picture under the nav max stretch to fill page */
.under_picture{
    width: 100%; 
    max-height: 190px;
}

.side_text {
    position: absolute;
    background-color: var(--grey);
    bottom: 50px;
    right: 20px;
    padding: 10px;
    color: var(--text_color);
    
    }

/* Section box positioning nad display */
section{
    display: flex;
    padding: 7px;
}
/* spacing and styleing elemnts */
section h1  {
    height: auto;
    min-width: 200px;
    font-size: 300%;
    text-align: right;
    /* border-right: 4px  solid black; */
    margin-right: 5px;
    margin-bottom: 75px;
    color: var(--text_color);
   

}

/* Move text off of the h1 border */
section p {
    padding-left: 30px;
    padding-top: 5px;
    border-radius: 3px;
    border-left: 4px  solid black
    
}
/* Body content = nil  for now*/


/* footer constant */
.footer {
  
    left: 0;
    bottom: 0;
    text-align: center;
    height: 45px;
    width: 100%;
    background-color:var(--grey) ;
}

footer {
    padding-top: 15px
}
footer p {
    
    color: var(--text_color);
}







/*GIVEN I need to sample a potential employee's previous work

WHEN I load their portfolio
THEN I am presented with the developer's name, a recent photo, and links to sections about them, their work, and how to contact them

WHEN I click one of the links in the navigation
THEN the UI scrolls to the corresponding section

WHEN I click on the link to the section about their work
THEN the UI scrolls to a section with titled images of the developer's applications

WHEN I am presented with the developer's first application
THEN that application's image should be larger in size than the others

WHEN I click on the images of the applications
THEN I am taken to that deployed application

WHEN I resize the page or view the site on various screens and devices
THEN I am presented with a responsive layout that adapts to my viewport */